body {
    font-family: 'Zen Dots', cursive;
    background-image: url(https://www.jeopardy.com/sites/default/files/styles/article_image_960_/public/2021-12/Jeop82421SET_042%20%281%29.jpg?itok=cn-iBdsx);
    background-position: center;
    background-size: cover;

}

button {
    font-family: 'Zen Dots', cursive;

    font-size: 1em;
    font-weight: 600;
    border-radius: 5px;
}

#container {
    font-size: 2em;
}

#question,
#answer {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

header {
    font-size: 1.5em;

}

h1 {
    font-size: 2em;
}

#container,
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 2px rgb(133, 8, 8), 0 0 1em blue, 0 0 3em black;
}

.disappear {
    display: none;
}

.notVisible {
    visibility: hidden;
}